@import 'tailwindcss';
@import 'flowbite';
/* @import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.blue {
  text-decoration: none;
  color: hsla(229, 100%, 59%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    /* place-items: center; 
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */
html,
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

/* @keyframes scroll-reverse {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(50%);
  }
} */

.currency-ticker {
  font-size: 15px;
  padding-block: 8px;
  border-block: 1px solid;
  overflow: hidden;
  user-select: none;
  display: flex;
  width: 100%;
  white-space: nowrap;
}

.currency-ticker ul {
  list-style: none;
  flex-shrink: 0;
  min-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  animation: scroll 200s linear infinite;
}

.currency-ticker.reverse ul {
  animation: scroll 200s linear infinite reverse;
}

.currency-ticker ul:nth-child(2) {
  transform: translateX(100%);
}

.currency-ticker.reverse ul:nth-child(2) {
  transform: translateX(-100%);
}

.currency-ticker li {
  display: inline-block;
  min-width: 180px;
  text-align: center;
  white-space: nowrap;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input {
  /* border: none; */
  /* background: transparent; */
}

select {
  /* border: none; */
  /* background: transparent; */
}

.shadow-dance-text {
  text-shadow:
    0px 2px 0 gray,
    0px 4px 0 #808080;
  animation: shadow-dance 2s infinite;
}

@keyframes shadow-dance {
  0%,
  100% {
    text-shadow:
      0px 2px 0 gray,
      0px 4px 0 #d3d3d3;
  }
  50% {
    text-shadow:
      -0px -2px 0 gray,
      -0px -4px 0 #d3d3d3;
  }
}
